*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #FFFFFF;
}

.logo-img{
    position:static;
    height: 200px;
    margin: -10px;
}

.bx-home-smile{
    font-size: 25px;
}

ul{
    list-style: none;
    margin-top: -120px;
    margin-bottom: 25px;
    justify-content: center;
    display: flex;
    gap: 35px;
}

li{
    cursor: pointer;
}

li:hover{
    opacity: 0.7;
}

li:active{
    opacity: 0.4;
}

section{
    font-size: 12px;
    margin-top: 30px;
    margin-right: 60px;
    float: right;
}

header{
    width: 1400px;
    height: 450px;
    margin: 95px auto;
    background-color: #6a80a5;
    border-radius: 15px;
    transition: 1s ;
}

.template{
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 180px;
    transition: 5s;
    width: 1000px;
 
}
/* esta linha para baixo estiliza a lista de produtos*/

.product-box{

    background-color: #FCFCFC;
    width: 240px;
    height: 300px;
    border: 0.5px rgb(106, 128, 165) solid;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

.product-list{
    margin: auto;
    width: 1300px;
    height: 1900px;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    gap: 25px;
    align-items: center;
   
}

.image-box{
    width: 238px;
    height: 215px;
    border-radius: 15px;
}

.window-description{
    width: 900px;
    height: 500px;
    border: 1px #dedede solid;
    border-radius: 25px;
    display: flex;
}
/* esta linha para baixo estiliza a Janela expandida*/
/* esta linha para baixo estiliza a Janela expandida*/

.box-window{
    margin: 25px auto;
    width: 800px;
    height: 500px;
    border: 0.5px rgb(106, 128, 165) solid;
    border-radius: 25px;
}

.big-image-box{
    width: 375px;
    height: 400px;
}

/* esta linha para baixo estiliza a Janela expandida*/
