*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.logo-img{
    position:static;
    height: 200px;
    margin: -10px;
}

.bx-home-smile{
    font-size: 25px;
}

ul{
    list-style: none;
    margin-top: -120px;
    margin-bottom: 25px;
    justify-content: center;
    display: flex;
    gap: 35px;
}

li{
    cursor: pointer;
}

li:hover{
    opacity: 0.7;
}

li:active{
    opacity: 0.4;
}

section{
    font-size: 12px;
    margin-top: 30px;
    margin-right: 60px;
    float: right;
}

header{
    width: 1400px;
    height: 450px;
    margin: 95px auto;
    background-color: #6a80a5;
    border-radius: 15px;
    transition: 1s ;
}

.template{
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 180px;
    transition: 5s;
    width: 1000px;
 
}
